<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item" >
      <a (click)="filter('')">
        <img
          src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100"
          alt=""
        />
        <div class="dropdown"  (mouseover)="showsCartsProducts=true" (mouseleave)="showsCartsProducts=false">
          <h6>All products</h6>
        <i ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
        </i>
        <div class="containers products" *ngIf="showsCartsProducts"  >
          <div class="left">
            <ul *ngFor="let mens of fashionList; index as i"  >
              <li *ngIf="0===i" (mouseover)="displayMensWear=true" (mouseleave)="displayMensWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="1===i" (mouseover)="displayWomensWear=true" (mouseleave)="displayWomensWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="2===i" (mouseover)="displayKidsWear=true" (mouseleave)="displayKidsWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="3===i" (mouseover)="displayLadiessWear=true" (mouseleave)="displayLadiessWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="4===i" (mouseover)="displayWintersWear=true" (mouseleave)="displayWintersWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
            </ul>
          </div>
          <div class="right">
            <div *ngIf="displayMensWear">
              <ul *ngFor="let men of menssWear">
                <li><a href="">{{men.subType1}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayWomensWear">
              <ul *ngFor="let men of womensWear" >
                <li><a href="">{{men.subType2}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayKidsWear">
              <ul *ngFor="let men of kidsWear" >
                <li><a href="">{{men.subType3}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayLadiessWear">
              <ul *ngFor="let men of ladiesWear" >
                <li><a href="">{{men.subType4}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayWintersWear">
              <ul *ngFor="let men of wintersWear" >
                <li><a href="">{{men.subType5}}</a></li> 
              </ul>
            </div>
          </div>
        </div>
        </div>

      </a>
    </div>
    <div class="item" >
      <a (click)="filter('')">
        <img
          src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png"
          alt=""
        />
        <div class="dropdown"  (mouseover)="showsCartsElectonics=true" (mouseleave)="showsCartsElectonics=false">
          <h6>Electronics</h6>
        <i ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
        </i>
        <div class="containers products" *ngIf="showsCartsElectonics"  >
          <div class="left">
            <ul *ngFor="let mens of fashionList; index as i"  >
              <li *ngIf="0===i" (mouseover)="displayMensWear=true" (mouseleave)="displayMensWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="1===i" (mouseover)="displayWomensWear=true" (mouseleave)="displayWomensWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="2===i" (mouseover)="displayKidsWear=true" (mouseleave)="displayKidsWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="3===i" (mouseover)="displayLadiessWear=true" (mouseleave)="displayLadiessWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="4===i" (mouseover)="displayWintersWear=true" (mouseleave)="displayWintersWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
            </ul>
          </div>
          <div class="right">
            <div *ngIf="displayMensWear">
              <ul *ngFor="let men of menssWear">
                <li><a href="">{{men.subType1}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayWomensWear">
              <ul *ngFor="let men of womensWear" >
                <li><a href="">{{men.subType2}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayKidsWear">
              <ul *ngFor="let men of kidsWear" >
                <li><a href="">{{men.subType3}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayLadiessWear">
              <ul *ngFor="let men of ladiesWear" >
                <li><a href="">{{men.subType4}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayWintersWear">
              <ul *ngFor="let men of wintersWear" >
                <li><a href="">{{men.subType5}}</a></li> 
              </ul>
            </div>
          </div>
        </div>
        </div>

      </a>
    </div>
    <div class="item" >
      <a (click)="filter('')">
        <img
          src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png"
          alt=""
        />
        <div class="dropdown"  (mouseover)="showsCartsFashion=true" (mouseleave)="showsCartsFashion=false">
          <h6>Fashion</h6>
        <i ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
        </i>
        <div class="containers products" *ngIf="showsCartsFashion"  >
          <div class="left">
            <ul *ngFor="let mens of fashionList; index as i"  >
              <li *ngIf="0===i" (mouseover)="displayMensWear=true" (mouseleave)="displayMensWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="1===i" (mouseover)="displayWomensWear=true" (mouseleave)="displayWomensWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="2===i" (mouseover)="displayKidsWear=true" (mouseleave)="displayKidsWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="3===i" (mouseover)="displayLadiessWear=true" (mouseleave)="displayLadiessWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="4===i" (mouseover)="displayWintersWear=true" (mouseleave)="displayWintersWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
            </ul>
          </div>
          <div class="right">
            <div *ngIf="displayMensWear">
              <ul *ngFor="let men of menssWear">
                <li><a href="">{{men.subType1}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayWomensWear">
              <ul *ngFor="let men of womensWear" >
                <li><a href="">{{men.subType2}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayKidsWear">
              <ul *ngFor="let men of kidsWear" >
                <li><a href="">{{men.subType3}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayLadiessWear">
              <ul *ngFor="let men of ladiesWear" >
                <li><a href="">{{men.subType4}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayWintersWear">
              <ul *ngFor="let men of wintersWear" >
                <li><a href="">{{men.subType5}}</a></li> 
              </ul>
            </div>
          </div>
        </div>
        </div>

      </a>
    </div>
    <div class="item" >
      <a (click)="filter('')">
        <img
          src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg"
          alt=""
        />
        <div class="dropdown"  (mouseover)="showsCartsJwellery=true" (mouseleave)="showsCartsJwellery=false">
          <h6>Jewllery</h6>
        <i ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
        </i>
        <div class="containers products" *ngIf="showsCartsJwellery"  >
          <div class="left">
            <ul *ngFor="let mens of fashionList; index as i"  >
              <li *ngIf="0===i" (mouseover)="displayMensWear=true" (mouseleave)="displayMensWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="1===i" (mouseover)="displayWomensWear=true" (mouseleave)="displayWomensWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="2===i" (mouseover)="displayKidsWear=true" (mouseleave)="displayKidsWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="3===i" (mouseover)="displayLadiessWear=true" (mouseleave)="displayLadiessWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
              <li *ngIf="4===i" (mouseover)="displayWintersWear=true" (mouseleave)="displayWintersWear=false"><a href="">{{mens.type}}<i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="grey"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg></i></a></li>
            </ul>
          </div>
          <div class="right">
            <div *ngIf="displayMensWear">
              <ul *ngFor="let men of menssWear">
                <li><a href="">{{men.subType1}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayWomensWear">
              <ul *ngFor="let men of womensWear" >
                <li><a href="">{{men.subType2}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayKidsWear">
              <ul *ngFor="let men of kidsWear" >
                <li><a href="">{{men.subType3}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayLadiessWear">
              <ul *ngFor="let men of ladiesWear" >
                <li><a href="">{{men.subType4}}</a></li> 
              </ul>
            </div>
            <div *ngIf="displayWintersWear">
              <ul *ngFor="let men of wintersWear" >
                <li><a href="">{{men.subType5}}</a></li> 
              </ul>
            </div>
          </div>
        </div>
        </div>

      </a>
    </div>
  
  
    
  </div>
</div>


<!-- <div class="containers electronics" *ngIf="showsCartsElectonics">
  <div class="left">a</div>
  <div class="right">b</div>
</div> -->
<!-- <div class="containers fashion" *ngIf="showsCartsFashion">
  <div class="left">a</div>
  <div class="right"></div>
</div> -->
<!-- <div class="containers jewelery" *ngIf="showsCartsJwellery">
  <div class="left">a</div>
  <div class="right"></div>
</div> -->

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList | filter:searchKey:'title'">
      <div class="card col-md-3">
        <img src="{{ item.image }}" alt="" />
        <h5
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.title }}
        </h5>
        <p
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.description }}
        </p>
        <p>
          <strong> Price : {{ item.price | currency }}</strong>
        </p>
        <button class="btn btn-primary" (click)=addtocart(item)>
          Add to cart
        </button>
      </div>
    </ng-container>
  </div>
</div>
