<header>
  <div class="navbar navbar-dark bg-primary">
    <div class="logo">
      <i style="font-size: 30px" class="fas fa-shipping-fast">&nbsp; </i>
    </div>
    <div class="logo-name">
      <strong style="font-size: 30px;">Flipkart</strong>
    </div>
    <div class="form-group search">
      <input type="text" (keyup)="search($event)" class="form-control" placeholder="search products">
    </div>
    <button routerLink="cart" class="btn btn-primary cart">
      <i style="font-size: 25px;" class="fas fa-cart-plus">
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </i>
    </button>
  </div>
</header>